In [1]:
import pandas as pd

In [2]:
# display all columns
pd.set_option("display.max_columns", None)

In [3]:
thefts = pd.read_csv('../data/bicycle-thefts - 4326.csv')

In [4]:
thefts.shape

(25569, 33)

In [5]:
thefts.dtypes

_id                        int64
OBJECTID                   int64
event_unique_id           object
Primary_Offence           object
Occurrence_Date           object
Occurrence_Year            int64
Occurrence_Month          object
Occurrence_DayOfWeek      object
Occurrence_DayOfMonth      int64
Occurrence_DayOfYear       int64
Occurrence_Hour            int64
Report_Date               object
Report_Year                int64
Report_Month              object
Report_DayOfWeek          object
Report_DayOfMonth          int64
Report_DayOfYear           int64
Report_Hour                int64
Division                  object
City                      object
Hood_ID                   object
NeighbourhoodName         object
Location_Type             object
Premises_Type             object
Bike_Make                 object
Bike_Model                object
Bike_Type                 object
Bike_Speed                 int64
Bike_Colour               object
Cost_of_Bike             float64
Status                    object
ObjectId2                  int64
geometry                  object
dtype: object

In [7]:
thefts.head(3)

,_id,OBJECTID,event_unique_id,Primary_Offence,Occurrence_Date,Occurrence_Year,Occurrence_Month,Occurrence_DayOfWeek,Occurrence_DayOfMonth,Occurrence_DayOfYear,Occurrence_Hour,Report_Date,Report_Year,Report_Month,Report_DayOfWeek,Report_DayOfMonth,Report_DayOfYear,Report_Hour,Division,City,Hood_ID,NeighbourhoodName,Location_Type,Premises_Type,Bike_Make,Bike_Model,Bike_Type,Bike_Speed,Bike_Colour,Cost_of_Bike,Status,ObjectId2,geometry
0,1,17744,GO-20179016397,THEFT UNDER,2017-10-03T00:00:00,2017,October,Tuesday,3,276,14,2017-10-03T00:00:00,2017,October,Tuesday,3,276,18,D22,Toronto,15,Kingsway South (15),"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,GI,ESCAPE 2,OT,7,BLK,700.0,STOLEN,1,"{'type': 'Point', 'coordinates': (-79.50655965..."
1,2,17759,GO-20172033056,THEFT UNDER - BICYCLE,2017-11-08T00:00:00,2017,November,Wednesday,8,312,3,2017-11-08T00:00:00,2017,November,Wednesday,8,312,22,D22,Toronto,15,Kingsway South (15),"Single Home, House (Attach Garage, Cottage, Mo...",House,UNKNOWN MAKE,NaN,TO,1,BLK,1100.0,RECOVERED,2,"{'type': 'Point', 'coordinates': (-79.50484874..."
2,3,17906,GO-20189030822,THEFT UNDER - BICYCLE,2018-09-14T00:00:00,2018,September,Friday,14,257,9,2018-09-17T00:00:00,2018,September,Monday,17,260,16,D22,Toronto,15,Kingsway South (15),Ttc Subway Station,Transit,OT,CROSSTRAIL,MT,24,BLK,904.0,STOLEN,3,"{'type': 'Point', 'coordinates': (-79.51170915..."

In [9]:
thefts.tail(3)

,_id,OBJECTID,event_unique_id,Primary_Offence,Occurrence_Date,Occurrence_Year,Occurrence_Month,Occurrence_DayOfWeek,Occurrence_DayOfMonth,Occurrence_DayOfYear,Occurrence_Hour,Report_Date,Report_Year,Report_Month,Report_DayOfWeek,Report_DayOfMonth,Report_DayOfYear,Report_Hour,Division,City,Hood_ID,NeighbourhoodName,Location_Type,Premises_Type,Bike_Make,Bike_Model,Bike_Type,Bike_Speed,Bike_Colour,Cost_of_Bike,Status,ObjectId2,geometry
25566,25567,11462,GO-20169005434,THEFT UNDER,2016-06-04T00:00:00,2016,June,Saturday,4,156,22,2016-06-07T00:00:00,2016,June,Tuesday,7,159,16,D42,Toronto,132,Malvern (132),"Apartment (Rooming House, Condo)",Apartment,SC,ANTRIM,MT,24,WHI,700.0,STOLEN,25567,"{'type': 'Point', 'coordinates': (-79.2360175,..."
25567,25568,11695,GO-20161170896,THEFT UNDER,2016-07-04T00:00:00,2016,July,Monday,4,186,20,2016-07-04T00:00:00,2016,July,Monday,4,186,20,D42,Toronto,132,Malvern (132),Other Commercial / Corporate Places (For Profi...,Commercial,UNKNOWN MAKE,NaN,SC,1,NaN,3000.0,STOLEN,25568,"{'type': 'Point', 'coordinates': (-79.20060719..."
25568,25569,11883,GO-20169007653,THEFT UNDER - BICYCLE,2016-07-22T00:00:00,2016,July,Friday,22,204,9,2016-07-23T00:00:00,2016,July,Saturday,23,205,11,D42,Toronto,132,Malvern (132),"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,SU,ASCENT MOUNTAIN,MT,21,ONG,200.0,STOLEN,25569,"{'type': 'Point', 'coordinates': (-79.23734742..."

In [10]:
thefts = thefts.rename(columns=str.lower)

In [12]:
thefts

,_id,objectid,event_unique_id,primary_offence,occurrence_date,occurrence_year,occurrence_month,occurrence_dayofweek,occurrence_dayofmonth,occurrence_dayofyear,occurrence_hour,report_date,report_year,report_month,report_dayofweek,report_dayofmonth,report_dayofyear,report_hour,division,city,hood_id,neighbourhoodname,location_type,premises_type,bike_make,bike_model,bike_type,bike_speed,bike_colour,cost_of_bike,status,objectid2,geometry
0,1,17744,GO-20179016397,THEFT UNDER,2017-10-03T00:00:00,2017,October,Tuesday,3,276,14,2017-10-03T00:00:00,2017,October,Tuesday,3,276,18,D22,Toronto,15,Kingsway South (15),"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,GI,ESCAPE 2,OT,7,BLK,700.0,STOLEN,1,"{'type': 'Point', 'coordinates': (-79.50655965..."
1,2,17759,GO-20172033056,THEFT UNDER - BICYCLE,2017-11-08T00:00:00,2017,November,Wednesday,8,312,3,2017-11-08T00:00:00,2017,November,Wednesday,8,312,22,D22,Toronto,15,Kingsway South (15),"Single Home, House (Attach Garage, Cottage, Mo...",House,UNKNOWN MAKE,NaN,TO,1,BLK,1100.0,RECOVERED,2,"{'type': 'Point', 'coordinates': (-79.50484874..."
2,3,17906,GO-20189030822,THEFT UNDER - BICYCLE,2018-09-14T00:00:00,2018,September,Friday,14,257,9,2018-09-17T00:00:00,2018,September,Monday,17,260,16,D22,Toronto,15,Kingsway South (15),Ttc Subway Station,Transit,OT,CROSSTRAIL,MT,24,BLK,904.0,STOLEN,3,"{'type': 'Point', 'coordinates': (-79.51170915..."
3,4,17962,GO-2015804467,THEFT UNDER,2015-05-07T00:00:00,2015,May,Thursday,7,127,18,2015-05-14T00:00:00,2015,May,Thursday,14,134,14,D22,Toronto,15,Kingsway South (15),Ttc Subway Station,Transit,GT,NaN,TO,10,BLKDGR,400.0,STOLEN,4,"{'type': 'Point', 'coordinates': (-79.51170915..."
4,5,17963,GO-20159002781,THEFT UNDER,2015-05-16T00:00:00,2015,May,Saturday,16,136,12,2015-05-16T00:00:00,2015,May,Saturday,16,136,15,D22,Toronto,15,Kingsway South (15),Ttc Subway Station,Transit,GI,NaN,MT,6,RED,600.0,STOLEN,5,"{'type': 'Point', 'coordinates': (-79.51132657..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25564,25565,9361,GO-2015543181,MISCHIEF UNDER,2015-04-01T00:00:00,2015,April,Wednesday,1,91,17,2015-04-01T00:00:00,2015,April,Wednesday,1,91,19,D42,Toronto,132,Malvern (132),"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,UNKNOWN MAKE,BMX WILD MAN,RG,0,SIL,600.0,STOLEN,25565,"{'type': 'Point', 'coordinates': (-79.21555349..."
25565,25566,11318,GO-20169004589,THEFT UNDER,2016-05-16T00:00:00,2016,May,Monday,16,137,21,2016-05-16T00:00:00,2016,May,Monday,16,137,21,D42,Toronto,132,Malvern (132),"Single Home, House (Attach Garage, Cottage, Mo...",House,SC,NaN,OT,14,NaN,900.0,STOLEN,25566,"{'type': 'Point', 'coordinates': (-79.21767046..."
25566,25567,11462,GO-20169005434,THEFT UNDER,2016-06-04T00:00:00,2016,June,Saturday,4,156,22,2016-06-07T00:00:00,2016,June,Tuesday,7,159,16,D42,Toronto,132,Malvern (132),"Apartment (Rooming House, Condo)",Apartment,SC,ANTRIM,MT,24,WHI,700.0,STOLEN,25567,"{'type': 'Point', 'coordinates': (-79.2360175,..."
25567,25568,11695,GO-20161170896,THEFT UNDER,2016-07-04T00:00:00,2016,July,Monday,4,186,20,2016-07-04T00:00:00,2016,July,Monday,4,186,20,D42,Toronto,132,Malvern (132),Other Commercial / Corporate Places (For Profi...,Commercial,UNKNOWN MAKE,NaN,SC,1,NaN,3000.0,STOLEN,25568,"{'type': 'Point', 'coordinates': (-79.20060719..."
25568,25569,11883,GO-20169007653,THEFT UNDER - BICYCLE,2016-07-22T00:00:00,2016,July,Friday,22,204,9,2016-07-23T00:00:00,2016,July,Saturday,23,205,11,D42,Toronto,132,Malvern (132),"Parking Lots (Apt., Commercial Or Non-Commercial)",Outside,SU,ASCENT MOUNTAIN,MT,21,ONG,200.0,STOLEN,25569,"{'type': 'Point', 'coordinates': (-79.23734742..."

In [13]:
thefts = thefts.rename(columns={'cost_of_bike':'bike_cost'})

thefts.head(3)

,_id,objectid,event_unique_id,primary_offence,occurrence_date,occurrence_year,occurrence_month,occurrence_dayofweek,occurrence_dayofmonth,occurrence_dayofyear,occurrence_hour,report_date,report_year,report_month,report_dayofweek,report_dayofmonth,report_dayofyear,report_hour,division,city,hood_id,neighbourhoodname,location_type,premises_type,bike_make,bike_model,bike_type,bike_speed,bike_colour,bike_cost,status,objectid2,geometry
0,1,17744,GO-20179016397,THEFT UNDER,2017-10-03T00:00:00,2017,October,Tuesday,3,276,14,2017-10-03T00:00:00,2017,October,Tuesday,3,276,18,D22,Toronto,15,Kingsway South (15),"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,GI,ESCAPE 2,OT,7,BLK,700.0,STOLEN,1,"{'type': 'Point', 'coordinates': (-79.50655965..."
1,2,17759,GO-20172033056,THEFT UNDER - BICYCLE,2017-11-08T00:00:00,2017,November,Wednesday,8,312,3,2017-11-08T00:00:00,2017,November,Wednesday,8,312,22,D22,Toronto,15,Kingsway South (15),"Single Home, House (Attach Garage, Cottage, Mo...",House,UNKNOWN MAKE,NaN,TO,1,BLK,1100.0,RECOVERED,2,"{'type': 'Point', 'coordinates': (-79.50484874..."
2,3,17906,GO-20189030822,THEFT UNDER - BICYCLE,2018-09-14T00:00:00,2018,September,Friday,14,257,9,2018-09-17T00:00:00,2018,September,Monday,17,260,16,D22,Toronto,15,Kingsway South (15),Ttc Subway Station,Transit,OT,CROSSTRAIL,MT,24,BLK,904.0,STOLEN,3,"{'type': 'Point', 'coordinates': (-79.51170915..."

In [14]:
print(list(thefts))

['_id', 'objectid', 'event_unique_id', 'primary_offence', 'occurrence_date', 'occurrence_year', 'occurrence_month', 'occurrence_dayofweek', 'occurrence_dayofmonth', 'occurrence_dayofyear', 'occurrence_hour', 'report_date', 'report_year', 'report_month', 'report_dayofweek', 'report_dayofmonth', 'report_dayofyear', 'report_hour', 'division', 'city', 'hood_id', 'neighbourhoodname', 'location_type', 'premises_type', 'bike_make', 'bike_model', 'bike_type', 'bike_speed', 'bike_colour', 'bike_cost', 'status', 'objectid2', 'geometry']

In [15]:
thefts['status']

0           STOLEN
1        RECOVERED
2           STOLEN
3           STOLEN
4           STOLEN
           ...
25564       STOLEN
25565       STOLEN
25566       STOLEN
25567       STOLEN
25568       STOLEN
Name: status, Length: 25569, dtype: object

In [16]:
thefts['status'].unique()

array(['STOLEN', 'RECOVERED', 'UNKNOWN'], dtype=object)

In [18]:
thefts['status'].value_counts()

status
STOLEN       24807
UNKNOWN        454
RECOVERED      308
Name: count, dtype: int64

In [19]:
thefts['bike_cost'].median()

600.0

In [20]:
thefts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25569 entries, 0 to 25568
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    25569 non-null  int64
 1   objectid               25569 non-null  int64
 2   event_unique_id        25569 non-null  object
 3   primary_offence        25569 non-null  object
 4   occurrence_date        25569 non-null  object
 5   occurrence_year        25569 non-null  int64
 6   occurrence_month       25569 non-null  object
 7   occurrence_dayofweek   25569 non-null  object
 8   occurrence_dayofmonth  25569 non-null  int64
 9   occurrence_dayofyear   25569 non-null  int64
 10  occurrence_hour        25569 non-null  int64
 11  report_date            25569 non-null  object
 12  report_year            25569 non-null  int64
 13  report_month           25569 non-null  object
 14  report_dayofweek       25569 non-null  object
 15  report_dayofmonth      25569 non-null  int64
 16  report_dayofyear       25569 non-null  int64
 17  report_hour            25569 non-null  int64
 18  division               25569 non-null  object
 19  city                   25569 non-null  object
 20  hood_id                25569 non-null  object
 21  neighbourhoodname      25569 non-null  object
 22  location_type          25569 non-null  object
 23  premises_type          25569 non-null  object
 24  bike_make              25448 non-null  object
 25  bike_model             15923 non-null  object
 26  bike_type              25569 non-null  object
 27  bike_speed             25569 non-null  int64
 28  bike_colour            23508 non-null  object
 29  bike_cost              23825 non-null  float64
 30  status                 25569 non-null  object
 31  objectid2              25569 non-null  int64
 32  geometry               25569 non-null  object
dtypes: float64(1), int64(12), object(20)
memory usage: 6.4+ MB

In [ ]:
# pd.to_numeric()
# converting to a number

In [21]:
thefts['occurrence_date'] = pd.to_datetime(thefts['occurrence_date'])

In [22]:
thefts['occurrence_date']

0       2017-10-03
1       2017-11-08
2       2018-09-14
3       2015-05-07
4       2015-05-16
           ...
25564   2015-04-01
25565   2016-05-16
25566   2016-06-04
25567   2016-07-04
25568   2016-07-22
Name: occurrence_date, Length: 25569, dtype: datetime64[ns]

In [23]:
thefts['report_date'] = pd.to_datetime(thefts['report_date'])

In [24]:
thefts['report_date']

0       2017-10-03
1       2017-11-08
2       2018-09-17
3       2015-05-14
4       2015-05-16
           ...
25564   2015-04-01
25565   2016-05-16
25566   2016-06-07
25567   2016-07-04
25568   2016-07-23
Name: report_date, Length: 25569, dtype: datetime64[ns]

In [25]:
thefts['status']

0           STOLEN
1        RECOVERED
2           STOLEN
3           STOLEN
4           STOLEN
           ...
25564       STOLEN
25565       STOLEN
25566       STOLEN
25567       STOLEN
25568       STOLEN
Name: status, Length: 25569, dtype: object

In [26]:
thefts['status'] = thefts['status'].astype('category')
thefts['status']

0           STOLEN
1        RECOVERED
2           STOLEN
3           STOLEN
4           STOLEN
           ...
25564       STOLEN
25565       STOLEN
25566       STOLEN
25567       STOLEN
25568       STOLEN
Name: status, Length: 25569, dtype: category
Categories (3, object): ['RECOVERED', 'STOLEN', 'UNKNOWN']

In [27]:
thefts['location_type']

0        Streets, Roads, Highways (Bicycle Path, Privat...
1        Single Home, House (Attach Garage, Cottage, Mo...
2                                       Ttc Subway Station
3                                       Ttc Subway Station
4                                       Ttc Subway Station
                               ...
25564    Parking Lots (Apt., Commercial Or Non-Commercial)
25565    Single Home, House (Attach Garage, Cottage, Mo...
25566                     Apartment (Rooming House, Condo)
25567    Other Commercial / Corporate Places (For Profi...
25568    Parking Lots (Apt., Commercial Or Non-Commercial)
Name: location_type, Length: 25569, dtype: object

In [28]:
thefts['premises_type']

0           Outside
1             House
2           Transit
3           Transit
4           Transit
            ...
25564       Outside
25565         House
25566     Apartment
25567    Commercial
25568       Outside
Name: premises_type, Length: 25569, dtype: object

In [29]:
thefts[['location_type', 'premises_type']] = thefts[['location_type', 'premises_type']].astype('category')

In [30]:
thefts[['location_type','premises_type']].dtypes

location_type    category
premises_type    category
dtype: object

In [32]:
thefts.describe(include='all')

,_id,objectid,event_unique_id,primary_offence,occurrence_date,occurrence_year,occurrence_month,occurrence_dayofweek,occurrence_dayofmonth,occurrence_dayofyear,occurrence_hour,report_date,report_year,report_month,report_dayofweek,report_dayofmonth,report_dayofyear,report_hour,division,city,hood_id,neighbourhoodname,location_type,premises_type,bike_make,bike_model,bike_type,bike_speed,bike_colour,bike_cost,status,objectid2,geometry
count,25569.000000,25569.000000,25569,25569,25569,25569.000000,25569,25569,25569.000000,25569.000000,25569.000000,25569,25569.000000,25569,25569,25569.000000,25569.000000,25569.000000,25569,25569,25569,25569,25569,25569,25448,15923,25569,25569.000000,23508,23825.000000,25569,25569.000000,25569
unique,NaN,NaN,22771,66,NaN,NaN,12,7,NaN,NaN,NaN,NaN,NaN,12,7,NaN,NaN,NaN,18,2,141,141,42,7,820,8097,13,NaN,252,NaN,3,NaN,5816
top,NaN,NaN,GO-20201550944,THEFT UNDER,NaN,NaN,July,Friday,NaN,NaN,NaN,NaN,NaN,July,Monday,NaN,NaN,NaN,D14,Toronto,77,Waterfront Communities-The Island (77),"Apartment (Rooming House, Condo)",Outside,OT,UNKNOWN,MT,NaN,BLK,NaN,STOLEN,NaN,"{'type': 'Point', 'coordinates': (-79.38372586..."
freq,NaN,NaN,14,11904,NaN,NaN,4002,3924,NaN,NaN,NaN,NaN,NaN,3988,4318,NaN,NaN,NaN,4580,25560,2576,2576,5887,7960,4991,304,8245,NaN,7422,NaN,24807,NaN,167
mean,12785.000000,12909.173218,NaN,NaN,2017-09-04 03:39:28.321013504,2017.124174,NaN,NaN,15.616684,202.227698,13.274395,2017-09-12 12:02:37.127771904,2017.143572,NaN,NaN,15.924870,203.493723,14.224139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.164144,NaN,949.542371,NaN,12785.000000,NaN
min,1.000000,1.000000,NaN,NaN,2009-09-01 00:00:00,2009.000000,NaN,NaN,1.000000,1.000000,0.000000,2014-01-01 00:00:00,2014.000000,NaN,NaN,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,1.000000,NaN
25%,6393.000000,6456.000000,NaN,NaN,2016-01-06 00:00:00,2016.000000,NaN,NaN,8.000000,153.000000,9.000000,2016-01-22 00:00:00,2016.000000,NaN,NaN,9.000000,154.000000,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,350.000000,NaN,6393.000000,NaN
50%,12785.000000,12918.000000,NaN,NaN,2017-09-05 00:00:00,2017.000000,NaN,NaN,16.000000,205.000000,14.000000,2017-09-12 00:00:00,2017.000000,NaN,NaN,16.000000,206.000000,14.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000,NaN,600.000000,NaN,12785.000000,NaN
75%,19177.000000,19360.000000,NaN,NaN,2019-06-20 00:00:00,2019.000000,NaN,NaN,23.000000,259.000000,19.000000,2019-06-26 00:00:00,2019.000000,NaN,NaN,23.000000,260.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,NaN,1000.000000,NaN,19177.000000,NaN
max,25569.000000,25806.000000,NaN,NaN,2020-12-30 00:00:00,2020.000000,NaN,NaN,31.000000,366.000000,23.000000,2020-12-31 00:00:00,2020.000000,NaN,NaN,31.000000,366.000000,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.000000,NaN,120000.000000,NaN,25569.000000,NaN
std,7381.278853,7448.318562,NaN,NaN,NaN,1.960127,NaN,NaN,8.592886,76.821431,6.530181,NaN,1.955024,NaN,NaN,8.549584,77.115977,5.052944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.559215,NaN,1675.880345,NaN,7381.278853,NaN

In [33]:
delays = pd.read_excel('../data/ttc-subway-delay-data-2021.xlsx', sheet_name=None)

In [34]:
type(delays)

dict

In [37]:
delays.values()

dict_values([           Date   Time     Day                 Station   Code  Min Delay  \
0    2021-01-01  00:33  Friday           BLOOR STATION  MUPAA          0
1    2021-01-01  00:39  Friday      SHERBOURNE STATION   EUCO          5
2    2021-01-01  01:07  Friday      KENNEDY BD STATION   EUCD          5
3    2021-01-01  01:41  Friday        ST CLAIR STATION   MUIS          0
4    2021-01-01  02:04  Friday   SHEPPARD WEST STATION   MUIS          0
...         ...    ...     ...                     ...    ...        ...
1211 2021-01-31  22:00  Sunday  YONGE-UNIVERSITY AND B    MUO          0
1212 2021-01-31  22:30  Sunday        EGLINTON STATION  SUPOL         23
1213 2021-01-31  23:32  Sunday         COLLEGE STATION   SUDP          0
1214 2021-01-31  23:39  Sunday          WILSON STATION   SUDP          0
1215 2021-01-31  23:58  Sunday         MIDLAND STATION   ERDO          3

      Min Gap Bound   Line  Vehicle
0           0     N     YU     6046
1           9     E     BD     5250
2           9     E     BD     5249
3           0   NaN     YU        0
4           0   NaN     YU        0
...       ...   ...    ...      ...
1211        0   NaN  YU/BD        0
1212       28     N     YU     5756
1213        0     N     YU     5681
1214        0   NaN     YU        0
1215        9     S    SRT     3012

[1216 rows x 10 columns],            Date   Time     Day                Station   Code  Min Delay  \
0    2021-02-01  00:06  Monday         WILSON STATION  EUECD          5
1    2021-02-01  00:15  Monday            BAY STATION   MUIS          0
2    2021-02-01  01:48  Monday     YORK MILLS STATION  TUMVS          0
3    2021-02-01  01:55  Monday    DUNDAS WEST STATION  TUMVS          0
4    2021-02-01  02:40  Monday     KENNEDY BD STATION    SUO          0
...         ...    ...     ...                    ...    ...        ...
1240 2021-02-28  22:09  Sunday            BAY STATION   MUIS          0
1241 2021-02-28  22:40  Sunday       EGLINTON STATION   MUIS          0
1242 2021-02-28  22:54  Sunday         WILSON STATION  MUATC          0
1243 2021-02-28  23:05  Sunday          FINCH STATION   PUSI          0
1244 2021-02-28  23:47  Sunday  EGLINTON WEST STATION   MUTO          5

      Min Gap Bound Line  Vehicle
0          10     N   YU     5841
1           0     W   BD        0
2           0     S   YU     5551
3           0     W   BD     5165
4           0   NaN   BD        0
...       ...   ...  ...      ...
1240        0   NaN   BD        0
1241        0   NaN   YU        0
1242        0     N   YU     6061
1243        0   NaN   YU        0
1244       10     S   YU     6066

[1245 rows x 10 columns],            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-03-01  00:23     Monday        EGLINTON STATION  PUTTP          8
1    2021-03-01  00:33     Monday        DUFFERIN STATION   MUIS          0
2    2021-03-01  01:13     Monday      SHERBOURNE STATION   MUIS          0
3    2021-03-01  05:51     Monday           FINCH STATION   PUSI          3
4    2021-03-01  05:51     Monday   SHEPPARD WEST STATION  PUDCS         31
...         ...    ...        ...                     ...    ...        ...
1162 2021-03-31  21:40  Wednesday       ST ANDREW STATION    MUI         22
1163 2021-03-31  22:00  Wednesday  YONGE UNIVERSITY SUBWA    MUO          0
1164 2021-03-31  22:51  Wednesday             BAY STATION    SUO          4
1165 2021-03-31  22:58  Wednesday        EGLINTON STATION    SUO          5
1166 2021-03-31  23:00  Wednesday  FINCH TO SHEPPARD STAT    MUO          0

      Min Gap Bound   Line  Vehicle
0          13     N     YU     5511
1           0   NaN     BD        0
2           0   NaN     BD        0
3           8     N     YU     5676
4           0     N     YU     5611
...       ...   ...    ...      ...
1162       27     N     YU     5766
1163        0   NaN  YU/BD        0
1164       10     W     BD     5358
1165       12     S     YU     6056
1166        0     B     YU        0

[1167 rows x 10 columns],            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-04-01  01:08  Thursday  PIONEER VILLAGE STATIO  MUATC          3
1    2021-04-01  01:15  Thursday   SHEPPARD WEST STATION   SUUT          0
2    2021-04-01  02:01  Thursday           UNION STATION   MUIS          0
3    2021-04-01  02:29  Thursday      FINCH WEST STATION   SUDP          0
4    2021-04-01  05:03  Thursday              KEELE YARD    SUG          5
...         ...    ...       ...                     ...    ...        ...
1165 2021-04-30  19:15    Friday        DONLANDS STATION   SUDP          4
1166 2021-04-30  19:51    Friday        EGLINTON STATION   MUIR          5
1167 2021-04-30  19:52    Friday       HIGH PARK STATION   SUDP          3
1168 2021-04-30  20:50    Friday           BLOOR STATION   SUUT         15
1169 2021-04-30  22:00    Friday  YONGE-UNIVERSITY AND B    MUO          0

      Min Gap Bound   Line  Vehicle
0          10     S     YU     5561
1           0     S     YU     5691
2           0   NaN     YU        0
3           0   NaN     YU        0
4          10     W     BD     5303
...       ...   ...    ...      ...
1165        8     E     BD     5053
1166       10     N     YU     5481
1167        7     E     BD     5013
1168       22     S     YU     6016
1169        0   NaN  YU/BD        0

[1170 rows x 10 columns],            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-05-01  01:07  Saturday        YONGE BD STATION   SUAP          0
1    2021-05-01  01:14  Saturday           BLOOR STATION    SUO          0
2    2021-05-01  06:00  Saturday  SHEPPARD WEST - WILSON    MUO          0
3    2021-05-01  09:04  Saturday       DON MILLS STATION   MUIR          5
4    2021-05-01  09:04  Saturday        YONGE BD STATION  SUEAS         13
...         ...    ...       ...                     ...    ...        ...
1163 2021-05-31  21:23    Monday   VICTORIA PARK STATION   SUDP          3
1164 2021-05-31  21:28    Monday   SHEPPARD WEST STATION   SUSA         18
1165 2021-05-31  21:31    Monday        CHRISTIE STATION   MUIS          0
1166 2021-05-31  22:00    Monday  YONGE-UNIVERSITY AND B    MUO          0
1167 2021-05-31  22:32    Monday       HIGH PARK STATION    MUI         13

      Min Gap Bound   Line  Vehicle
0           0     W     BD     5170
1           0     S     YU     5506
2           0   NaN     YU        0
3          10     W    SHP     5141
4          18     W     BD     5106
...       ...   ...    ...      ...
1163       10     W     BD     5178
1164       25     S     YU     5976
1165        0     E     BD        0
1166        0   NaN  YU/BD        0
1167       20     E     BD     5246

[1168 rows x 10 columns],            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-06-01  05:35    Tuesday           FINCH STATION   TUSC          0
1    2021-06-01  05:40    Tuesday       HIGH PARK STATION  MUPLB         41
2    2021-06-01  05:59    Tuesday          WILSON STATION  TUNIP          3
3    2021-06-01  06:04    Tuesday            JANE STATION   SUDP          0
4    2021-06-01  06:52    Tuesday         KIPLING STATION  TUMVS          0
...         ...    ...        ...                     ...    ...        ...
1260 2021-06-30  01:23  Wednesday        ST CLAIR STATION   MUIS          0
1261 2021-06-30  06:00  Wednesday  TORONTO TRANSIT COMMIS    MUO          0
1262 2021-06-30  12:40  Wednesday          LESLIE STATION   MUIS          0
1263 2021-06-30  20:50  Wednesday          LESLIE STATION   MUTD          9
1264 2021-06-30  00:45  Wednesday          LESLIE STATION  TUMVS          5

      Min Gap Bound Line  Vehicle
0           0     S   YU     5896
1          48     E   BD     5058
2           6     S   YU     6001
3           0     E   BD     5004
4           0     W   BD     5161
...       ...   ...  ...      ...
1260        0   NaN   YU        0
1261        0   NaN  SHP        0
1262        0   NaN  SHP        0
1263       14     E  SHP     6171
1264       10     E  SHP     6166

[1265 rows x 10 columns],            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-07-01  06:02  Thursday         MCCOWAN STATION  TRNIP          6
1    2021-07-01  03:59  Thursday   ST GEORGE YUS STATION    MUO          0
2    2021-07-01  06:10  Thursday     DUNDAS WEST STATION   MUSC          0
3    2021-07-01  15:45  Thursday  SCARBOROUGH RAPID TRAN  MRWEA          0
4    2021-07-01  08:56  Thursday        EGLINTON STATION  TUNIP          5
...         ...    ...       ...                     ...    ...        ...
1239 2021-07-31  01:03  Saturday          DUPONT STATION  MUPAA          3
1240 2021-07-31  01:20  Saturday  PIONEER VILLAGE STATIO  MUPAA          4
1241 2021-07-31  01:57  Saturday       HIGH PARK STATION  MUIRS          0
1242 2021-07-31  13:08  Saturday       DON MILLS STATION  PUCSC          0
1243 2021-07-31  16:58  Saturday       BESSARION STATION  PUOPO          7

      Min Gap Bound Line  Vehicle
0          12     S  SRT     3004
1           0     S   YU        0
2           0     E   BD     5158
3           0   NaN  SRT        0
4          10     N   YU     5846
...       ...   ...  ...      ...
1239       10     N   YU     6106
1240       11     N   YU     5451
1241        0   NaN   BD        0
1242        0     W  SHP     6186
1243       12     E  SHP     6196

[1244 rows x 10 columns],            Date   Time      Day                 Station   Code  Min Delay  \
0    2021-08-01  05:35   Sunday  VMC TO ST GEORGE STATI    MUO          0
1    2021-08-01  07:36   Sunday  YORK UNIVERSITY STATIO  PUOPO          6
2    2021-08-01  08:00   Sunday  VMC TO ST GEORGE STATI    MUO          0
3    2021-08-01  08:32   Sunday      KENNEDY BD STATION   MUIE          0
4    2021-08-01  08:47   Sunday        EGLINTON STATION   MUCL          6
...         ...    ...      ...                     ...    ...        ...
1268 2021-08-31  05:38  Tuesday         BAYVIEW STATION    TUO          5
1269 2021-08-31  05:38  Tuesday          LESLIE STATION    TUO          7
1270 2021-08-31  07:30  Tuesday          LESLIE STATION   EUBK          5
1271 2021-08-31  09:40  Tuesday          LESLIE STATION   EUBK          5
1272 2021-08-31  19:30  Tuesday       DON MILLS STATION  PUMEL          0

      Min Gap Bound Line  Vehicle
0           0   NaN   YU        0
1          12     N   YU     6121
2           0   NaN   YU        0
3           0     W   BD     5023
4          12     N   YU     5671
...       ...   ...  ...      ...
1268       10     E  SHP     6191
1269        0     E  SHP     6176
1270       10     W  SHP     6171
1271       10     W  SHP     6191
1272        0   NaN  SHP        0

[1273 rows x 10 columns],            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-09-01  05:41  Wednesday   VICTORIA PARK STATION   MUIS          0
1    2021-09-01  06:32  Wednesday  NORTH YORK CTR STATION   EUSC          0
2    2021-09-01  07:58  Wednesday          WARDEN STATION  MUIRS          0
3    2021-09-01  08:08  Wednesday        ROSEDALE STATION   MUSC          3
4    2021-09-01  08:24  Wednesday       RUNNYMEDE STATION  PUMST          0
...         ...    ...        ...                     ...    ...        ...
1428 2021-09-30  23:29   Thursday      VAUGHAN MC STATION  TUNOA          3
1429 2021-09-30  00:40   Thursday          DUNDAS STATION   MUIS          0
1430 2021-09-30  01:46   Thursday            PAPE STATION   SUUT         11
1431 2021-09-30  16:04   Thursday         BAYVIEW STATION   EUSC          0
1432 2021-09-30  18:40   Thursday  SHEPPARD-YONGE STATION   MUSC          0

      Min Gap Bound Line  Vehicle
0           0   NaN   BD        0
1           0     S   YU     5726
2           0   NaN   BD        0
3           6     N   YU     5846
4           0   NaN   BD        0
...       ...   ...  ...      ...
1428        6     S   YU     5476
1429        0   NaN   YU        0
1430       18     W   BD     5259
1431        0     E  SHP     6176
1432        0     E  SHP     6171

[1433 rows x 10 columns],            Date   Time     Day                 Station   Code  Min Delay  \
0    2021-10-01  02:02  Friday     DUNDAS WEST STATION   MUIS          0
1    2021-10-01  12:12  Friday         MCCOWAN STATION  TRNOA          6
2    2021-10-01  05:38  Friday        EGLINTON STATION   SUUT          8
3    2021-10-01  12:49  Friday     KENNEDY SRT STATION   PRSA         45
4    2021-10-01  05:38  Friday      YORK MILLS STATION   SUUT          7
...         ...    ...     ...                     ...    ...        ...
1555 2021-10-31  21:30  Sunday        YONGE BD STATION   SUAE          0
1556 2021-10-31  21:36  Sunday        BATHURST STATION    SUO          7
1557 2021-10-31  22:00  Sunday  YONGE-UNIVERSITY AND B    MUO          0
1558 2021-10-31  22:42  Sunday        CHRISTIE STATION   SUDP          6
1559 2021-10-31  00:53  Sunday         COLLEGE STATION  EUTRD          6

      Min Gap Bound   Line  Vehicle
0           0   NaN     BD        0
1          12     S    SRT        0
2           0     N     YU     6026
3          53     S    SRT     3006
4           0     N     YU     5871
...       ...   ...    ...      ...
1555        0     W     BD     5221
1556       14     W     BD     5221
1557        0   NaN  YU/BD        0
1558       13     W     BD     5030
1559       13     S     YU     5991

[1560 rows x 10 columns],            Date   Time      Day                 Station   Code  Min Delay  \
0    2021-11-01  02:27   Monday      KENNEDY BD STATION   MUIS          0
1    2021-11-01  16:00   Monday         MIDLAND STATION   MRTO          5
2    2021-11-01  02:34   Monday           FINCH STATION   MUIS          0
3    2021-11-01  19:34   Monday         MIDLAND STATION  TRNCA          0
4    2021-11-01  02:51   Monday      KENNEDY BD STATION   MUIS          0
...         ...    ...      ...                     ...    ...        ...
1766 2021-11-30  23:48  Tuesday          DUNDAS STATION   MUIS          0
1767 2021-11-30  01:20  Tuesday        EGLINTON STATION   MUIS          0
1768 2021-11-30  01:42  Tuesday      YORK MILLS STATION   TUSC          0
1769 2021-11-30  01:45  Tuesday   SHEPPARD WEST STATION   MUIS          0
1770 2021-11-30  06:00  Tuesday  TORONTO TRANSIT COMMIS    MUO          0

      Min Gap Bound Line  Vehicle
0           0   NaN   BD        0
1           8     S  SRT     3002
2           0   NaN   YU        0
3           0   NaN  SRT        0
4           0   NaN   BD        0
...       ...   ...  ...      ...
1766        0   NaN   YU        0
1767        0   NaN   YU        0
1768        0     S   YU     5846
1769        0     S   YU        0
1770        0   NaN  SHP        0

[1771 rows x 10 columns],            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-12-01  06:06  Wednesday         MCCOWAN STATION   ERCO          5
1    2021-12-01  03:40  Wednesday        SHEPPARD STATION  PUTOE          0
2    2021-12-01  14:34  Wednesday     KENNEDY SRT STATION   MRTO         14
3    2021-12-01  03:46  Wednesday  NORTH YORK CTR STATION  PUTOE          0
4    2021-12-01  05:43  Wednesday        EGLINTON STATION  MUATC          5
...         ...    ...        ...                     ...    ...        ...
1853 2021-12-31  01:10     Friday          MUSEUM STATION   SUUT          0
1854 2021-12-31  01:12     Friday           FINCH STATION   SUDP          5
1855 2021-12-31  01:21     Friday   EGLINTON WEST STATION  PUOPO          3
1856 2021-12-31  01:37     Friday   SHEPPARD WEST STATION   SUDP          0
1857 2021-12-31  07:00     Friday       DON MILLS STATION   TUSC          0

      Min Gap Bound Line  Vehicle
0          10     S  SRT     3022
1           0     N   YU       34
2          21     N  SRT     3004
3           0     N   YU       34
4          10     N   YU     5691
...       ...   ...  ...      ...
1853        0     N   YU     5591
1854       10     S   YU     5983
1855        8     N   YU     6046
1856        0     S   YU     5536
1857        0     E  SHP     6146

[1858 rows x 10 columns]])

In [38]:
delays.items()

dict_items([('January21',            Date   Time     Day                 Station   Code  Min Delay  \
0    2021-01-01  00:33  Friday           BLOOR STATION  MUPAA          0
1    2021-01-01  00:39  Friday      SHERBOURNE STATION   EUCO          5
2    2021-01-01  01:07  Friday      KENNEDY BD STATION   EUCD          5
3    2021-01-01  01:41  Friday        ST CLAIR STATION   MUIS          0
4    2021-01-01  02:04  Friday   SHEPPARD WEST STATION   MUIS          0
...         ...    ...     ...                     ...    ...        ...
1211 2021-01-31  22:00  Sunday  YONGE-UNIVERSITY AND B    MUO          0
1212 2021-01-31  22:30  Sunday        EGLINTON STATION  SUPOL         23
1213 2021-01-31  23:32  Sunday         COLLEGE STATION   SUDP          0
1214 2021-01-31  23:39  Sunday          WILSON STATION   SUDP          0
1215 2021-01-31  23:58  Sunday         MIDLAND STATION   ERDO          3

      Min Gap Bound   Line  Vehicle
0           0     N     YU     6046
1           9     E     BD     5250
2           9     E     BD     5249
3           0   NaN     YU        0
4           0   NaN     YU        0
...       ...   ...    ...      ...
1211        0   NaN  YU/BD        0
1212       28     N     YU     5756
1213        0     N     YU     5681
1214        0   NaN     YU        0
1215        9     S    SRT     3012

[1216 rows x 10 columns]), ('Feb 21',            Date   Time     Day                Station   Code  Min Delay  \
0    2021-02-01  00:06  Monday         WILSON STATION  EUECD          5
1    2021-02-01  00:15  Monday            BAY STATION   MUIS          0
2    2021-02-01  01:48  Monday     YORK MILLS STATION  TUMVS          0
3    2021-02-01  01:55  Monday    DUNDAS WEST STATION  TUMVS          0
4    2021-02-01  02:40  Monday     KENNEDY BD STATION    SUO          0
...         ...    ...     ...                    ...    ...        ...
1240 2021-02-28  22:09  Sunday            BAY STATION   MUIS          0
1241 2021-02-28  22:40  Sunday       EGLINTON STATION   MUIS          0
1242 2021-02-28  22:54  Sunday         WILSON STATION  MUATC          0
1243 2021-02-28  23:05  Sunday          FINCH STATION   PUSI          0
1244 2021-02-28  23:47  Sunday  EGLINTON WEST STATION   MUTO          5

      Min Gap Bound Line  Vehicle
0          10     N   YU     5841
1           0     W   BD        0
2           0     S   YU     5551
3           0     W   BD     5165
4           0   NaN   BD        0
...       ...   ...  ...      ...
1240        0   NaN   BD        0
1241        0   NaN   YU        0
1242        0     N   YU     6061
1243        0   NaN   YU        0
1244       10     S   YU     6066

[1245 rows x 10 columns]), ("March '21",            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-03-01  00:23     Monday        EGLINTON STATION  PUTTP          8
1    2021-03-01  00:33     Monday        DUFFERIN STATION   MUIS          0
2    2021-03-01  01:13     Monday      SHERBOURNE STATION   MUIS          0
3    2021-03-01  05:51     Monday           FINCH STATION   PUSI          3
4    2021-03-01  05:51     Monday   SHEPPARD WEST STATION  PUDCS         31
...         ...    ...        ...                     ...    ...        ...
1162 2021-03-31  21:40  Wednesday       ST ANDREW STATION    MUI         22
1163 2021-03-31  22:00  Wednesday  YONGE UNIVERSITY SUBWA    MUO          0
1164 2021-03-31  22:51  Wednesday             BAY STATION    SUO          4
1165 2021-03-31  22:58  Wednesday        EGLINTON STATION    SUO          5
1166 2021-03-31  23:00  Wednesday  FINCH TO SHEPPARD STAT    MUO          0

      Min Gap Bound   Line  Vehicle
0          13     N     YU     5511
1           0   NaN     BD        0
2           0   NaN     BD        0
3           8     N     YU     5676
4           0     N     YU     5611
...       ...   ...    ...      ...
1162       27     N     YU     5766
1163        0   NaN  YU/BD        0
1164       10     W     BD     5358
1165       12     S     YU     6056
1166        0     B     YU        0

[1167 rows x 10 columns]), ("April '21",            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-04-01  01:08  Thursday  PIONEER VILLAGE STATIO  MUATC          3
1    2021-04-01  01:15  Thursday   SHEPPARD WEST STATION   SUUT          0
2    2021-04-01  02:01  Thursday           UNION STATION   MUIS          0
3    2021-04-01  02:29  Thursday      FINCH WEST STATION   SUDP          0
4    2021-04-01  05:03  Thursday              KEELE YARD    SUG          5
...         ...    ...       ...                     ...    ...        ...
1165 2021-04-30  19:15    Friday        DONLANDS STATION   SUDP          4
1166 2021-04-30  19:51    Friday        EGLINTON STATION   MUIR          5
1167 2021-04-30  19:52    Friday       HIGH PARK STATION   SUDP          3
1168 2021-04-30  20:50    Friday           BLOOR STATION   SUUT         15
1169 2021-04-30  22:00    Friday  YONGE-UNIVERSITY AND B    MUO          0

      Min Gap Bound   Line  Vehicle
0          10     S     YU     5561
1           0     S     YU     5691
2           0   NaN     YU        0
3           0   NaN     YU        0
4          10     W     BD     5303
...       ...   ...    ...      ...
1165        8     E     BD     5053
1166       10     N     YU     5481
1167        7     E     BD     5013
1168       22     S     YU     6016
1169        0   NaN  YU/BD        0

[1170 rows x 10 columns]), ("May '21",            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-05-01  01:07  Saturday        YONGE BD STATION   SUAP          0
1    2021-05-01  01:14  Saturday           BLOOR STATION    SUO          0
2    2021-05-01  06:00  Saturday  SHEPPARD WEST - WILSON    MUO          0
3    2021-05-01  09:04  Saturday       DON MILLS STATION   MUIR          5
4    2021-05-01  09:04  Saturday        YONGE BD STATION  SUEAS         13
...         ...    ...       ...                     ...    ...        ...
1163 2021-05-31  21:23    Monday   VICTORIA PARK STATION   SUDP          3
1164 2021-05-31  21:28    Monday   SHEPPARD WEST STATION   SUSA         18
1165 2021-05-31  21:31    Monday        CHRISTIE STATION   MUIS          0
1166 2021-05-31  22:00    Monday  YONGE-UNIVERSITY AND B    MUO          0
1167 2021-05-31  22:32    Monday       HIGH PARK STATION    MUI         13

      Min Gap Bound   Line  Vehicle
0           0     W     BD     5170
1           0     S     YU     5506
2           0   NaN     YU        0
3          10     W    SHP     5141
4          18     W     BD     5106
...       ...   ...    ...      ...
1163       10     W     BD     5178
1164       25     S     YU     5976
1165        0     E     BD        0
1166        0   NaN  YU/BD        0
1167       20     E     BD     5246

[1168 rows x 10 columns]), ('June 21',            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-06-01  05:35    Tuesday           FINCH STATION   TUSC          0
1    2021-06-01  05:40    Tuesday       HIGH PARK STATION  MUPLB         41
2    2021-06-01  05:59    Tuesday          WILSON STATION  TUNIP          3
3    2021-06-01  06:04    Tuesday            JANE STATION   SUDP          0
4    2021-06-01  06:52    Tuesday         KIPLING STATION  TUMVS          0
...         ...    ...        ...                     ...    ...        ...
1260 2021-06-30  01:23  Wednesday        ST CLAIR STATION   MUIS          0
1261 2021-06-30  06:00  Wednesday  TORONTO TRANSIT COMMIS    MUO          0
1262 2021-06-30  12:40  Wednesday          LESLIE STATION   MUIS          0
1263 2021-06-30  20:50  Wednesday          LESLIE STATION   MUTD          9
1264 2021-06-30  00:45  Wednesday          LESLIE STATION  TUMVS          5

      Min Gap Bound Line  Vehicle
0           0     S   YU     5896
1          48     E   BD     5058
2           6     S   YU     6001
3           0     E   BD     5004
4           0     W   BD     5161
...       ...   ...  ...      ...
1260        0   NaN   YU        0
1261        0   NaN  SHP        0
1262        0   NaN  SHP        0
1263       14     E  SHP     6171
1264       10     E  SHP     6166

[1265 rows x 10 columns]), ('July 21',            Date   Time       Day                 Station   Code  Min Delay  \
0    2021-07-01  06:02  Thursday         MCCOWAN STATION  TRNIP          6
1    2021-07-01  03:59  Thursday   ST GEORGE YUS STATION    MUO          0
2    2021-07-01  06:10  Thursday     DUNDAS WEST STATION   MUSC          0
3    2021-07-01  15:45  Thursday  SCARBOROUGH RAPID TRAN  MRWEA          0
4    2021-07-01  08:56  Thursday        EGLINTON STATION  TUNIP          5
...         ...    ...       ...                     ...    ...        ...
1239 2021-07-31  01:03  Saturday          DUPONT STATION  MUPAA          3
1240 2021-07-31  01:20  Saturday  PIONEER VILLAGE STATIO  MUPAA          4
1241 2021-07-31  01:57  Saturday       HIGH PARK STATION  MUIRS          0
1242 2021-07-31  13:08  Saturday       DON MILLS STATION  PUCSC          0
1243 2021-07-31  16:58  Saturday       BESSARION STATION  PUOPO          7

      Min Gap Bound Line  Vehicle
0          12     S  SRT     3004
1           0     S   YU        0
2           0     E   BD     5158
3           0   NaN  SRT        0
4          10     N   YU     5846
...       ...   ...  ...      ...
1239       10     N   YU     6106
1240       11     N   YU     5451
1241        0   NaN   BD        0
1242        0     W  SHP     6186
1243       12     E  SHP     6196

[1244 rows x 10 columns]), ('August 21',            Date   Time      Day                 Station   Code  Min Delay  \
0    2021-08-01  05:35   Sunday  VMC TO ST GEORGE STATI    MUO          0
1    2021-08-01  07:36   Sunday  YORK UNIVERSITY STATIO  PUOPO          6
2    2021-08-01  08:00   Sunday  VMC TO ST GEORGE STATI    MUO          0
3    2021-08-01  08:32   Sunday      KENNEDY BD STATION   MUIE          0
4    2021-08-01  08:47   Sunday        EGLINTON STATION   MUCL          6
...         ...    ...      ...                     ...    ...        ...
1268 2021-08-31  05:38  Tuesday         BAYVIEW STATION    TUO          5
1269 2021-08-31  05:38  Tuesday          LESLIE STATION    TUO          7
1270 2021-08-31  07:30  Tuesday          LESLIE STATION   EUBK          5
1271 2021-08-31  09:40  Tuesday          LESLIE STATION   EUBK          5
1272 2021-08-31  19:30  Tuesday       DON MILLS STATION  PUMEL          0

      Min Gap Bound Line  Vehicle
0           0   NaN   YU        0
1          12     N   YU     6121
2           0   NaN   YU        0
3           0     W   BD     5023
4          12     N   YU     5671
...       ...   ...  ...      ...
1268       10     E  SHP     6191
1269        0     E  SHP     6176
1270       10     W  SHP     6171
1271       10     W  SHP     6191
1272        0   NaN  SHP        0

[1273 rows x 10 columns]), ('Sept 21',            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-09-01  05:41  Wednesday   VICTORIA PARK STATION   MUIS          0
1    2021-09-01  06:32  Wednesday  NORTH YORK CTR STATION   EUSC          0
2    2021-09-01  07:58  Wednesday          WARDEN STATION  MUIRS          0
3    2021-09-01  08:08  Wednesday        ROSEDALE STATION   MUSC          3
4    2021-09-01  08:24  Wednesday       RUNNYMEDE STATION  PUMST          0
...         ...    ...        ...                     ...    ...        ...
1428 2021-09-30  23:29   Thursday      VAUGHAN MC STATION  TUNOA          3
1429 2021-09-30  00:40   Thursday          DUNDAS STATION   MUIS          0
1430 2021-09-30  01:46   Thursday            PAPE STATION   SUUT         11
1431 2021-09-30  16:04   Thursday         BAYVIEW STATION   EUSC          0
1432 2021-09-30  18:40   Thursday  SHEPPARD-YONGE STATION   MUSC          0

      Min Gap Bound Line  Vehicle
0           0   NaN   BD        0
1           0     S   YU     5726
2           0   NaN   BD        0
3           6     N   YU     5846
4           0   NaN   BD        0
...       ...   ...  ...      ...
1428        6     S   YU     5476
1429        0   NaN   YU        0
1430       18     W   BD     5259
1431        0     E  SHP     6176
1432        0     E  SHP     6171

[1433 rows x 10 columns]), ('Oct 21',            Date   Time     Day                 Station   Code  Min Delay  \
0    2021-10-01  02:02  Friday     DUNDAS WEST STATION   MUIS          0
1    2021-10-01  12:12  Friday         MCCOWAN STATION  TRNOA          6
2    2021-10-01  05:38  Friday        EGLINTON STATION   SUUT          8
3    2021-10-01  12:49  Friday     KENNEDY SRT STATION   PRSA         45
4    2021-10-01  05:38  Friday      YORK MILLS STATION   SUUT          7
...         ...    ...     ...                     ...    ...        ...
1555 2021-10-31  21:30  Sunday        YONGE BD STATION   SUAE          0
1556 2021-10-31  21:36  Sunday        BATHURST STATION    SUO          7
1557 2021-10-31  22:00  Sunday  YONGE-UNIVERSITY AND B    MUO          0
1558 2021-10-31  22:42  Sunday        CHRISTIE STATION   SUDP          6
1559 2021-10-31  00:53  Sunday         COLLEGE STATION  EUTRD          6

      Min Gap Bound   Line  Vehicle
0           0   NaN     BD        0
1          12     S    SRT        0
2           0     N     YU     6026
3          53     S    SRT     3006
4           0     N     YU     5871
...       ...   ...    ...      ...
1555        0     W     BD     5221
1556       14     W     BD     5221
1557        0   NaN  YU/BD        0
1558       13     W     BD     5030
1559       13     S     YU     5991

[1560 rows x 10 columns]), ('Nov 21',            Date   Time      Day                 Station   Code  Min Delay  \
0    2021-11-01  02:27   Monday      KENNEDY BD STATION   MUIS          0
1    2021-11-01  16:00   Monday         MIDLAND STATION   MRTO          5
2    2021-11-01  02:34   Monday           FINCH STATION   MUIS          0
3    2021-11-01  19:34   Monday         MIDLAND STATION  TRNCA          0
4    2021-11-01  02:51   Monday      KENNEDY BD STATION   MUIS          0
...         ...    ...      ...                     ...    ...        ...
1766 2021-11-30  23:48  Tuesday          DUNDAS STATION   MUIS          0
1767 2021-11-30  01:20  Tuesday        EGLINTON STATION   MUIS          0
1768 2021-11-30  01:42  Tuesday      YORK MILLS STATION   TUSC          0
1769 2021-11-30  01:45  Tuesday   SHEPPARD WEST STATION   MUIS          0
1770 2021-11-30  06:00  Tuesday  TORONTO TRANSIT COMMIS    MUO          0

      Min Gap Bound Line  Vehicle
0           0   NaN   BD        0
1           8     S  SRT     3002
2           0   NaN   YU        0
3           0   NaN  SRT        0
4           0   NaN   BD        0
...       ...   ...  ...      ...
1766        0   NaN   YU        0
1767        0   NaN   YU        0
1768        0     S   YU     5846
1769        0     S   YU        0
1770        0   NaN  SHP        0

[1771 rows x 10 columns]), ('December21',            Date   Time        Day                 Station   Code  Min Delay  \
0    2021-12-01  06:06  Wednesday         MCCOWAN STATION   ERCO          5
1    2021-12-01  03:40  Wednesday        SHEPPARD STATION  PUTOE          0
2    2021-12-01  14:34  Wednesday     KENNEDY SRT STATION   MRTO         14
3    2021-12-01  03:46  Wednesday  NORTH YORK CTR STATION  PUTOE          0
4    2021-12-01  05:43  Wednesday        EGLINTON STATION  MUATC          5
...         ...    ...        ...                     ...    ...        ...
1853 2021-12-31  01:10     Friday          MUSEUM STATION   SUUT          0
1854 2021-12-31  01:12     Friday           FINCH STATION   SUDP          5
1855 2021-12-31  01:21     Friday   EGLINTON WEST STATION  PUOPO          3
1856 2021-12-31  01:37     Friday   SHEPPARD WEST STATION   SUDP          0
1857 2021-12-31  07:00     Friday       DON MILLS STATION   TUSC          0

      Min Gap Bound Line  Vehicle
0          10     S  SRT     3022
1           0     N   YU       34
2          21     N  SRT     3004
3           0     N   YU       34
4          10     N   YU     5691
...       ...   ...  ...      ...
1853        0     N   YU     5591
1854       10     S   YU     5983
1855        8     N   YU     6046
1856        0     S   YU     5536
1857        0     E  SHP     6146

[1858 rows x 10 columns])])

In [42]:
# create an empty DataFrame
all_delays = pd.DataFrame()

for sheet_name, sheet_contents in delays.items():
    print(sheet_name)
    # add each sheet to all_delays
    all_delays = pd.concat([all_delays, sheet_contents],
                           axis=0, #concatenate rows
                           ignore_index=True) #reset row labels

January21
Feb 21
March '21
April '21
May '21
June 21
July 21
August 21
Sept 21
Oct 21
Nov 21
December21

In [43]:
all_delays.shape

(16370, 10)

In [44]:
all_delays.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0

In [45]:
dr = pd.read_excel('../data/ttc-subway-delay-codes.xlsx', sheet_name=None)

In [46]:
type(dr)

dict

In [49]:
delay_reasons = pd.DataFrame()

for sheet_name, sheet_contents in dr.items():
    delay_reasons = pd.concat([delay_reasons, sheet_contents],
                              axis=0,
                              ignore_index=True)

delay_reasons

    RMENU CODE                     CODE DESCRIPTION SUB OR SRT
0         EUAC                     Air Conditioning        SUB
1         EUAL                  Alternating Current        SUB
2        EUATC                   ATC RC&S Equipment        SUB
3         EUBK                               Brakes        SUB
4         EUBO                                 Body        SUB
..         ...                                  ...        ...
195      TRNOA   No Operator Immediately Available         SRT
196        TRO    Transportation Department - Other        SRT
197      TRSET  Train Controls Improperly Shut Down        SRT
198       TRST                         Storm Trains        SRT
199       TRTC     Transit Control Related Problems        SRT

[200 rows x 3 columns]

In [61]:
def clean_names(string):
    return string.lower().replace(' ', '_')

In [ ]:
all_delays.rename(columns={'date':clean_names('date'), })

In [51]:
print(list(delay_reasons))
print(list(all_delays))

['RMENU CODE', 'CODE DESCRIPTION', 'SUB OR SRT']
['Date', 'Time', 'Day', 'Station', 'Code', 'Min Delay', 'Min Gap', 'Bound', 'Line', 'Vehicle']

In [52]:
delay_reasons = delay_reasons.rename(columns=clean_names)

In [53]:
print(list(delay_reasons))

['rmenu_code', 'code_description', 'sub_or_srt']

In [58]:
all_delays = all_delays.rename(columns=clean_names)

In [74]:
print(list(all_delays))

['date', 'time', 'day', 'station', 'code', 'min_delay', 'min_gap', 'bound', 'line', 'vehicle']

In [73]:
all_delays = all_delays.rename(columns={'DATE':'date'})

In [67]:
all_delays['DATE'].rename(clean_names)

TypeError: Series.rename() got an unexpected keyword argument 'columns'

In [68]:
all_delays.head()

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0

In [69]:
delay_reasons.head()

  rmenu_code     code_description sub_or_srt
0       EUAC     Air Conditioning        SUB
1       EUAL  Alternating Current        SUB
2      EUATC   ATC RC&S Equipment        SUB
3       EUBK               Brakes        SUB
4       EUBO                 Body        SUB

In [70]:
# left: merge will include all rows from the `all_delays` dataframe and only those rows from 'delay_reasons'
# that have matching values in `all_delays`

# right: resulting dataframe contains all rows from the right dataframe and the matched rows from the 
# left dataframe

# inner: resulting dataframe contains only the rows that have matching keys in both the left and right dataframes

# outer: resulting dataframe includes all rows from both the left and right datagrames, where there are missing
# matches you'll see NaN

delays_w_reasons = pd.merge(all_delays,
                            delay_reasons,
                            how='left', #type of merge to perform
                            left_on='code',
                            right_on='rmenu_code')
delays_w_reasons.head(3)

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,rmenu_code,code_description,sub_or_srt
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,MUPAA,Passenger Assistance Alarm Activated - No Trou...,SUB
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,EUCO,Couplers,SUB
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,EUCD,Consequential Delay (2nd Delay Same Fault),SUB

In [71]:
delays_w_reasons = delays_w_reasons.drop(columns='rmenu_code')
delays_w_reasons.head(3)

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB

In [75]:
delays_w_reasons['year'] = 2021

In [76]:
delays_w_reasons.head()

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt,year
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB,2021
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB,2021
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB,2021
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021

In [77]:
delays_w_reasons['hour_delay'] = round(delays_w_reasons['min_delay'] / 60, 2)

In [78]:
delays_w_reasons.head()

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt,year,hour_delay
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB,2021,0.00
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB,2021,0.08
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB,2021,0.08
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00

In [79]:
delays_w_reasons[['min_delay', 'hour_delay']].head()

   min_delay  hour_delay
0          0        0.00
1          5        0.08
2          5        0.08
3          0        0.00
4          0        0.00

In [80]:
delays_w_reasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16370 entries, 0 to 16369
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   DATE              16370 non-null  datetime64[ns]
 1   time              16370 non-null  object
 2   day               16370 non-null  object
 3   station           16370 non-null  object
 4   code              16370 non-null  object
 5   min_delay         16370 non-null  int64
 6   min_gap           16370 non-null  int64
 7   bound             12119 non-null  object
 8   line              16318 non-null  object
 9   vehicle           16370 non-null  int64
 10  code_description  16048 non-null  object
 11  sub_or_srt        16048 non-null  object
 12  year              16370 non-null  int64
 13  hour_delay        16370 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(8)
memory usage: 1.7+ MB

In [81]:
delays_w_reasons['month'] = delays_w_reasons['DATE'].dt.month

In [83]:
delays_w_reasons['month']

0         1
1         1
2         1
3         1
4         1
         ..
16365    12
16366    12
16367    12
16368    12
16369    12
Name: month, Length: 16370, dtype: int32

In [85]:
delays_w_reasons['hour'] = pd.to_datetime(delays_w_reasons['time'], format='%H:%M').dt.hour

In [86]:
delays_w_reasons['hour'].head()

0    0
1    0
2    1
3    1
4    2
Name: hour, dtype: int32

In [87]:
delays_w_reasons.head()

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt,year,hour_delay,month,hour
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB,2021,0.00,1,0
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB,2021,0.08,1,0
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB,2021,0.08,1,1
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,1
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,2

In [88]:
delays_w_reasons['line'].unique()

array(['YU', 'BD', 'SHP', 'SRT', 'YU/BD', nan, 'YONGE/UNIVERSITY/BLOOR',
       'YU / BD', 'YUS', '999', 'SHEP', '36 FINCH WEST', 'YUS & BD',
       'YU & BD LINES', '35 JANE', '52', '41 KEELE', 'YUS/BD'],
      dtype=object)

In [89]:
delays_w_reasons['line'].value_counts()

line
YU                        8880
BD                        5734
SHP                        657
SRT                        656
YU/BD                      346
YUS                         18
YU / BD                     17
YU & BD LINES                1
41 KEELE                     1
52                           1
35 JANE                      1
999                          1
YUS & BD                     1
36 FINCH WEST                1
SHEP                         1
YONGE/UNIVERSITY/BLOOR       1
YUS/BD                       1
Name: count, dtype: int64

In [91]:
delays_w_reasons['line'].isna()

0        False
1        False
2        False
3        False
4        False
         ...
16365    False
16366    False
16367    False
16368    False
16369    False
Name: line, Length: 16370, dtype: bool

In [92]:
delays_w_reasons.head()

,DATE,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_description,sub_or_srt,year,hour_delay,month,hour
0,2021-01-01,00:33,Friday,BLOOR STATION,MUPAA,0,0,N,YU,6046,Passenger Assistance Alarm Activated - No Trou...,SUB,2021,0.00,1,0
1,2021-01-01,00:39,Friday,SHERBOURNE STATION,EUCO,5,9,E,BD,5250,Couplers,SUB,2021,0.08,1,0
2,2021-01-01,01:07,Friday,KENNEDY BD STATION,EUCD,5,9,E,BD,5249,Consequential Delay (2nd Delay Same Fault),SUB,2021,0.08,1,1
3,2021-01-01,01:41,Friday,ST CLAIR STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,1
4,2021-01-01,02:04,Friday,SHEPPARD WEST STATION,MUIS,0,0,NaN,YU,0,Injured or ill Customer (In Station) - Transpo...,SUB,2021,0.00,1,2

In [93]:
delays_w_reasons[['line','vehicle']]

      line  vehicle
0       YU     6046
1       BD     5250
2       BD     5249
3       YU        0
4       YU        0
...    ...      ...
16365   YU     5591
16366   YU     5983
16367   YU     6046
16368   YU     5536
16369  SHP     6146

[16370 rows x 2 columns]

In [96]:
# .loc[] --> accessing rows and columns using either boolean arrays or row/column labels
# .isna() --> return boolean array depending on if there is `na` (True) or not (False)

delays_w_reasons.loc[delays_w_reasons['line'].isna(), 'min_gap']

495      6
513      0
1044     0
1045     0
1362     0
1679     0
2179     0
2204     9
2206     0
3039     0
3330     0
3407     0
3557     0
3944     0
4097     0
4119     0
4336     0
4748     0
5312     0
5448     0
5484     0
5642     0
5685     0
6042     0
6046     0
6540     0
6560     0
7137     0
7766     0
8889     0
9628     0
9629     0
9780     0
9789     0
10336    0
10951    0
11223    0
12533    0
12826    0
13007    0
13080    0
13273    6
13402    0
13410    0
14177    0
14371    0
14935    0
14952    0
14967    0
15581    0
15623    0
16332    0
Name: min_gap, dtype: int64